<html>
<head>
  <title>Vue.js 애완용품샵</title>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div id="app">
  <header>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <h1>{{ sitename }}</h1>
      </div>
      <div class="nav navbar-nav navbar-right cart">
        <button type="button" class="btn btn-default btn-lg" v-on:click="showCheckout">
          <span class="glyphicon glyphicon-shopping-cart">{{cartItemCount}}</span> 체크아웃
        </button>
      </div>
    </div>
  </header>
  <main>
    <div class="row">
      <div v-if="showProduct">
        <!-- 5개의 상품을 차례대로 출력하기 위한 새로운 div 태그와 함께 v-for 속성을 입력 -->
        <div v-for="product in products">
          <div class="row">
            <div class="col-md-4 col-md-offset-0">
            <figure>
              <img class="product" v-bind:src="product.image">
            </figure>
            </div>
            <div class="col-md-6 col-md-offset-2 description">
              <h1 v-text="product.title"></h1>
              <p v-html="product.description"></p>
              <p class="price">
                {{product.price | formatPrice}}
              </p>
              <button class="btn btn-primary btn-lg"
                v-on:click="addToCart"
                v-if="canAddToCart">장바구니 담기</button>
              <button disabled="true" class="btn btn-primary btn-lg"
                v-else>장바구니 담기</button>
                  <!-- 2022.10.24 -->
                  <!-- [01.] v-if를 사용해 상품의 재고 수량에 따라 서로 다른 텍스트를 출력해보자 -->
                  <span class="inventory-message"
                  v-if="product.availableInventory - cartItemCount === 0">
                  품절!!!
                  <!-- [02.] 이는 computed 속성에서 좀 더 간단하게 구현할 수 있음.-->
                  </span>

                  <span class="inventory-message"
                  v-else-if="product.availableInventory - cartItemCount < 5">
                  {{product.availableInventory - cartItemCount}} 개 남았습니다!!
                  </span>

                  <span class="inventory-message"
                  v-else> <!-- [01.] v-else는 조건이 따로 필요 없음-->
                  지금 바로 구매하세요!
                  </span>

                  <!-- 별점을 추가해보자-->
                  <div class="rating">
                    <!-- 아래와 같이 사용해도 되지만 이보다 더 좋은 방법이 있음.
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span> -->

                    <!-- <span v-for="n in 5">☆</span> -->
                    <!-- 위와 같이 for문에서 배열 대신 range를 사용할 경우
                        "1" 부터 5까지 숫자 배열을 만들어 변수 n에 차례대로 선언하며
                        선언 할 때 마다 해당 코드를 반복하여 실행함
                        따라서, <span>☆</span>을 5번 반복하게 됨. -->
                    <!-- 참고: v-for을 통해 반복을 사용하게 되면 위와 같이 <span>☆</span>이
                          줄바꿈으로 인해 떨어지는 게 아닌 <span>☆</span><span>☆</span>... 처럼
                          공백 없이 반복이 이루어지기 때문에, 실제 브라우저에서 보면 span 태그끼리
                          다닥다닥 붙어있는 것을 확인할 수 있음.-->

                    
                    <span v-for="n in maxRating" v-bind:class="{'rating-active':checkRating(n, product)}">☆</span>
                    <!--
                      위의 코드를 풀어서 쓰면 아래와 같음.
                        <span v-for="n in maxRating" v-bind:class="{'rating-active':true}">☆</span>
                        <span v-for="n in maxRating" v-bind:class="{'rating-active':true}">☆</span>
                        <span v-for="n in maxRating" v-bind:class="{'rating-active':true}">☆</span>
                        <span v-for="n in maxRating" v-bind:class="{'rating-active':false}">☆</span>
                        <span v-for="n in maxRating" v-bind:class="{'rating-active':false}">☆</span>
                      5개의 별이 있고, 3/5 평점을 표현하려면 검정색 별이 표시되는 곳의
                      클래스 속성 값이 true 상태가 되어야 함.
                      즉, v-bind로 바인딩 된 클래스는 속성값이 true인 값은 표현되고,
                      false인 값은 표시가 되지 않는 특징이 있고, 이를 for문을 이용해
                      maxRating 만큼만 true 값을 표시하는 원리임.
                      ...라고 하는데, 이건 조금 더 공부해야 알 듯. -->

                    <!-- css 파일에 들어가보면 아래와 같은 속성을 볼 수 있음. -->
                    <!--
                      .rating-active:before {
                        content: "\2605";
                        position: absolute;
                      } -->
                    <!-- content 속성으로 2605번 유니코드 글자(★)를 출력하며, 
                        position 속성으로 absolute 를 사용해 먼저 쓰여진 span 태그 위에
                        겹쳐서 새로운 글자를 입력할 수 있음.
                        따라서 흰색 별이 보이지 않고 검은색 별의 일부만 볼 수 있음.-->
                    <!-- 이러한 속성으로 Vue 객체 속 data에 저장되어 있는 -->
                  </div>
            </div>
          </div>
          <hr>
        </div>     
      </div>
      <div v-else>
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-info">
            <div class="panel-heading">애완용품샵 체크아웃</div>
            <div class="panel-body">
              <div class="form-group">
                <div class="col-md-12">
                  <h4><strong>정보를 입력하세요</strong></h4>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <strong>이름:</strong>
                  <input v-model.trim="order.firstName" class="form-control" />
                </div>
                <div class="col-md-6">
                  <strong>성:</strong>
                  <input v-model.trim="order.lastName" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12"><strong>주소:</strong></div>
                <div class="col-md-12">
                  <input v-model.trim="order.address" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12"><strong>도시:</strong></div>
                <div class="col-md-12">
                  <input v-model.trim="order.city" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-2">
                  <strong>주:</strong>
                  <select v-model="order.state" class="form-control">
                    <option disabled value="">주</option>
                    <option v-for="(state, key) in states" v-bind:value="state">
                      {{key}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                  <strong>우편번호:</strong>
                  <input v-model.number="order.zip"
                    class="form-control"
                    type="number"/>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6 boxes">
                  <input type="checkbox"
                    id="gift" value="true"
                    v-bind:true-value="order.sendGift"
                    v-bind:false-value="order.dontSendGift"
                    v-model="order.gift">
                  <label for="checkbox">선물로 보내기?</label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6 boxes">
                  <input type="radio"
                    id="home"
                    v-bind:value="order.home"
                    v-model="order.method">
                  <label for="home">자택</label>
                  <input type="radio"
                    id="business"
                    v-bind:value="order.business"
                    v-model="order.method">
                  <label for="business">직장</label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary submit" v-on:click="submitForm">주문하기</button>
                </div>
              </div>
              <div class="col-md-12 verify">
                <pre>
                  이름: {{order.firstName}}
                  성: {{order.lastName}}
                  주소: {{order.address}}
                  도시: {{order.city}}
                  우편번호: {{order.zip}}
                  주: {{order.state}}
                  배송지: {{order.method}}
                  선물: {{order.gift}}
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<script type="text/javascript">
  var APP_LOG_LIFECYCLE_EVENTS = true;
  var webstore = new Vue({
    el: '#app',
    data: {
      sitename: "Vue.js 애완용품샵",
      showProduct: true,
      a: false,
      states: {
        AL: '알라바마',
        AK: '알래스카',
        AR: '애리조나',
        CA: '캘리포니아',
        NV: '네바다'
      },
      order: {
        firstName: '',
        lastName: '',
        address: '',
        city: '',
        zip: '',
        state: '',
        method: '자택 주소',
        business: '직장 주소',
        home: '자택 주소',
        gift:'선물로 보내기',
        sendGift: '선물로 보내기',
        dontSendGift: '선물로 보내기 않기'
      },
      product: {
        id: 1001,
        title: "고양이 사료, 25파운드",
        description: "당신의 고양이를 위한 <em>거부할 수 없는</em>, 유기농 25파운드 사료입니다.",
        price: 2000,
        image: "assets/images/product-fullsize.png",
        availableInventory: 10,
        rating: 1,
      },
      // products 배열이 만들어졌으므로, 기존의 product 객체는 필요가 없음!

      cart: [],
      maxRating: 5,
      products: [
        {
          "id": 1001,
          "title": "고양이 사료, 25파운드",
          "description": "당신의 고양이를 위한 <em>거부할 수 없는</em>, 유기농 25파운드 사료입니다.",
          "price": 2000,
          "image": "assets/images/product-fullsize.png",
          "availableInventory": 10,
          "rating": 5,
        },
        {
          "id": 1002,
          "title": "고양이 사료, 25파운드",
          "description": "당신의 고양이를 위한 <em>거부할 수 없는</em>, 유기농 25파운드 사료입니다.",
          "price": 1234,
          "image": "assets/images/cat-house.jpg",
          "availableInventory": 10,
          "rating": 3,
        },
        {
          "id": 1003,
          "title": "고양이 사료, 25파운드",
          "description": "당신의 고양이를 위한 <em>거부할 수 없는</em>, 유기농 25파운드 사료입니다.",
          "price": 999999,
          "image": "assets/images/laser-pointer.jpg",
          "availableInventory": 10,
          "rating": 2,
        },
        {
          "id": 1004,
          "title": "고양이 사료, 25파운드",
          "description": "당신의 고양이를 위한 <em>거부할 수 없는</em>, 유기농 25파운드 사료입니다.",
          "price": 100,
          "image": "assets/images/Mindy_Mouse_cat_toy.jpg",
          "availableInventory": 10,
          "rating": 4,
        },
        {
          "id": 1005,
          "title": "고양이 사료, 25파운드",
          "description": "당신의 고양이를 위한 <em>거부할 수 없는</em>, 유기농 25파운드 사료입니다.",
          "price": 2021,
          "image": "assets/images/yarn.jpg",
          "availableInventory": 10,
          "rating": 3,
        },
      ]
    },
    // product를 products 배열로 만들었기 때문에 아래의 product를 모조리 products 배열에서
    // 가져오는 형태로 바꿔야 함.
    methods: {
      addToCart: function() {
        this.cart.push( this.product.id );
      },
      showCheckout() {
        this.showProduct = this.showProduct ? false: true;
      },
      submitForm() {
        alert('제출 완료');
      },
      checkRating(n, product) {
        return n <= product;
      }
    },
    computed: {
      cartItemCount() {
        return this.cart.length || '';
      },
      canAddToCart() {
        return this.product.availableInventory > this.cartItemCount;
      },
      // [03.] 매진 임박 알림 만들기
      warnAvailableInventory() {
        return this.product.availableInventory - cartItemCount > 5;
      }
      // [03.] 차이점이라면 computed에서는 무조건 this 키워드를 사용해야 하는 것.
    },
    filters: {
      formatPrice(price) {
        if (!parseInt(price)) { return ""; }
        if (price > 99999) {
          var priceString = (price / 100).toFixed(2);
          var priceArray = priceString.split("").reverse();
          var index = 3;
          while (priceArray.length > index + 3) {
            priceArray.splice(index+3, 0, ",");
            index += 4;
          }
          return "$" + priceArray.reverse().join("");
        } else {
          return "$" + (price / 100).toFixed(2);
        }
      }

    },
    beforeCreate: function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("beforeCreate");
      }
    },
    created: function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("created");
      }
    },
    beforeMount: function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("beforeMount");
      }
    },
    mounted:  function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("mounted");
      }
    },
    beforeUpdate:  function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("beforeUpdate");
      }
    },
    updated:  function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("updated");
      }
    },
    beforeDestroyed:  function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("beforeDestroyed ");
      }
    },
    destroyed:  function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("destroyed");
      }
    }
  });
</script>
</body>
</html>
